@model ServiceStation.Models.New.multiModelCateWorker

<div class="d-flex flex-dir-row border-rad py-2 w-fix-240p worker-box">
    <div class="worker-img">
        @if (Model.image != null){
                <div class="px-2 py-2 img"><img class="wx-100 border-rad" src="@Model.image" /></div>
        }
        else{
            <div class="px-2 py-2 img"><span class="material-icon-symbols-outlined">image</span></div>
        }
    </div>
    <div class="d-flex flex-dir-col fs-12 worker-newot-details">
        <div class="px-2 empcode">@Model.CategoryWorkerList.EmpCode</div>
        <div class="px-2">@Model.CategoryWorkerList.PriName @Model.CategoryWorkerList.Name @Model.CategoryWorkerList.Surname</div>
        <select class="form-control py-1 px-1 h-fix-30p job" onchange="updateWorkerJob(this)">
            @foreach (var item in Model.Jobs.Select(s => s.mjJobCode).OrderBy(o => o).Distinct())
            {
                string JobCode = Model.CategoryWorkerList.Job is null
                    ? Model.Jobs.Where(w => w.mjGroupCode == Model.CategoryWorkerList.GRP_Code).FirstOrDefault() is null ? "" :Model.Jobs.Where(w=>w.mjGroupCode == Model.CategoryWorkerList.GRP_Code).FirstOrDefault().mjJobCode
                    : Model.CategoryWorkerList.Job;

                if (item == JobCode)
                {
                    <option class="text-center" value="@item" selected>@item</option>
                }
                else
                {
                    <option class="text-center" value="@item">@item</option>}

            }
        </select>
    </div>

    <div class="d-flex flex-dir-col hy-100 py-0 pst-rela">
        <button class="bd-0 bg-trans worker-remove" type="button"><span class="material-icon-symbols-outlined fs-16">close</span></button>
    </div>
</div>
