@model ServiceStation.Models.Common.Class
<div class="card-body" id="FormHistory" style="background-color: unset;padding-top:10px;">

    <div>
        <div class=" panel-group ir fadeInUp animated wowload animated" style="visibility: visible; animation-name: fadeInUp; margin-bottom: 5px; ">
            <div class="panel panel-default property">
                <div class=" panel-heading panel-heading-custom property" tabindex="0">
                    <h4 class="panel-title faq-title-range collapsed" data-bs-toggle="collapse" data-bs-target="#IHistory"
                        aria-expanded="false" aria-controls="collapseExample">
                        <label style="font-size:17px;font-weight:800">
                            ประวัติการส่งเมล์
                        </label> <sup style="font-size:13px;color:orange;cursor: pointer;">More</sup>
                        <label class="lbV">
                        </label>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="IHistory" style="overflow-y: scroll; field-sizing: content;">
                    <div id="IdivHistory" class="panel-body">
                        <div class='panel panel-default property'>
                            @for (int i = 0; i < Model._ListViewsvsHistoryApproved.Count; i++)
                            {
                                <div class='panel-heading panel-heading-custom property' tabindex='0'>
                                    <h4 class='panel-title faq-title-range collapsed' data-bs-toggle='collapse' data-bs-target='#Ans_@i' aria-expanded='false' aria-controls='collapseExample'>
                                        <label style='font-size: 13px;'>Step  @Model._ListViewsvsHistoryApproved[i].htStep </label> <label class='lbV'></label>

                                        @if (@Model._ListViewsvsHistoryApproved[i].htStep == 0)
                                        {

                                            <label style='color:red'>Disapprove</label>
                                        }
                                        else if (@Model._ListViewsvsHistoryApproved[i].htStep == 1)
                                        {

                                            <label style='color:lightcoral'>Create Document</label>
                                        }
                                        else if (@Model._ListViewsvsHistoryApproved[i].htStep == 2)
                                        {

                                            @if (Model._ViewsvsServiceRequest.srFrom == "F5" || Model._ViewsvsServiceRequest.srSubject.Contains("Print Color") || Model._ViewsvsServiceRequest.srSubject.Contains("Admin"))
                                            {
                                                <label style='color:mediumpurple'>Approval by DM Up of Dept</label>
                                            }
                                            else
                                            {
                                                <label style='color:mediumpurple'>Approval of Dept.</label>
                                            }

                                            @*<label style='color:orange'>Approval by CS of IS</label>*@

                                        }
                                        else if (@Model._ListViewsvsHistoryApproved[i].htStep == 3)
                                        {

                                            <label style='color:blue'>Process (Assigning tasks)</label>
                                        }
                                        else if (@Model._ListViewsvsHistoryApproved[i].htStep == 4)
                                        {
                                            <label style='color:YellowGreen'>
                                                Process (Work Status Notification)

                                                @*Accept by CS of IS*@
                                            </label>
                                        }
                                        else if (@Model._ListViewsvsHistoryApproved[i].htStep == 5)
                                        {

                                            <label style='color:Green'>Accept by CS of IS & Finish</label>
                                        }

                                    </h4>
                                </div>
                                <div class='panel-collapse collapse' style='overflow: auto;' id='Ans_@i'>
                                    <div class='panel-body'>
                                        <div style='font-size: x-small; clear: both; width: 100%; tetx-align: left; font-weight: bold;'>
                                            <label> @Model._ListViewsvsHistoryApproved[i].htDate : @Model._ListViewsvsHistoryApproved[i].htTime น.</label>
                                        </div>
                                        <div style='font-size: x-small; float: left; width: 20%; tetx-align: left;'>
                                            <label>FROM : </label>
                                            <label>@Model._ListViewsvsHistoryApproved[i].htFrom</label>
                                        </div>
                                        <div style='font-size: x-small; float: left; width: 20%; tetx-align: left;'>
                                            <label>TO : </label><br>
                                            <label>@Model._ListViewsvsHistoryApproved[i].htTo </label>
                                        </div>
                                        <div style='font-size: x-small; float: left; width: 20%; tetx-align: left;'>
                                            <label>CC : </label>
                                            <label>@Model._ListViewsvsHistoryApproved[i].htCC</label>
                                        </div>
                                        <div style='font-size: x-small; float: right; width: 20%; tetx-align: left;'>
                                            <label>Remark : </label>
                                            <label>@Model._ListViewsvsHistoryApproved[i].htRemark</label>
                                        </div>
                                        <div style='font-size: x-small; float: right; width: 20%; tetx-align: left;'>
                                            <label>Status : </label>
                                            <label><span style=''>@Model._ListViewsvsHistoryApproved[i].htStatus </span></label>
                                        </div>
                                    </div>
                                </div>

                            }
                            <label style="color:navy;padding-left:30px; @(@Model._ListViewsvsHistoryApproved.Count == 0 ?"":"display:none")">ไม่มีประวัติการส่งเมล์</label>





                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>



    .container {
        width: 100%;
        margin: auto;
    }

    .text-msg {
        margin: 20px 0;
        display: block;
        clear: both;
        text-align: justify;
    }

    .progressbar {
        margin: 0;
        padding-left: 5%;
        counter-reset: step;
        clear: both;
    }

        .progressbar li {
            list-style-type: none;
            /*width: 11%;*/
            /*width: 11%;*/
            width: 14%;
            /*width: 11%;*/
            float: left;
            font-size: 15px;
            margin-top: 25px;
            padding-top: 5px;
            position: relative;
            text-align: center;
            /*text-transform: uppercase;*/
            color: #7d7d7d;
            z-index: 5;
            margin: 9px;
        }

            .progressbar li:before {
                width: 38px;
                height: 38px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                border: 1.5px solid;
                top: 23px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: #0da9ef;
            }

                .progressbar li.active:before {
                    border-color: #0da9ef;
                }

                .progressbar li.active + li:after {
                    background-color: #0da9ef;
                }
</style>