@using System.Security.Claims;
@model ServiceStation.Models.Common.Class

@{
    Layout = null;
}
@*New Request*@
<div id="ResultSendMail">

    @*@Html.HiddenFor(m => m.htEmpCode, new { id = "docno" })
        @Html.HiddenFor(m => m.htStep, new { id = "step" })
        @Html.HiddenFor(m => m.htTo, new { id = "EmailTo" })*@

    <div class="modal-header" style="margin-top:1px">
        <h5 class="modal-title">
            @*<input asp-for="htStep" type="text" class="
                     " id="txtstep" style="display:none" />
                <input asp-for="htDateIssue" type="text" class="form-control" id="txtstep" style="display:none" />*@
            <span style="font-weight: bold; font-size: 16px;">
                ส่งคำขออนุมัติเอกสาร​ -->
                @if (@ViewBag.vWststus == "Cancel")
                {
                    <span class="text-red">@ViewBag.vWststus</span>
                }
                else if (@ViewBag.vWststus == "Done")
                {
                    <span style="color:green">@ViewBag.vWststus</span>
                }
                else
                {

                    @ViewBag.vWststus
                }


            </span>
            @*<input id="txtSendmailStatus" />*@

            <input id="txtvFSM" value="@ViewBag.vForm" style="display:none" />
            <input id="txtvFFSN" asp-for="_ViewsvsServiceRequest.srServiceNo" style="display:none" />
            <input id="txtvFSN" value="@ViewBag.SRno" style="display:none" />
            @*<input id="txtvFSssss" asp-for="_ViewsvsHistoryApproved.htStatus" style="display:none"  style="display:none" />*@

            @*<span style="font-weight: bold; font-size: 18px;"> @Html.DisplayFor(model => model.htStatus)</span>
                input asp-for="htStatus" type="text" class="form-control" id="txthtStatus"  style="display:none" />*@
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="p-2-modify" style="width: 100%; border: 1px grey; padding-top: 3px;font-size:10px">

        <div class="input-group ig-property">
            <span class="input-group-text w-25">From.</span>
            <input type="text" class="form-control" id="txtFrom" asp-for="_ViewsvsHistoryApproved.htFrom" readonly />
        </div>
        <div class="input-group ig-property">
            <span class="input-group-text w-25">
                To
                @if (@Model._ViewsvsServiceRequest.srStep == 0 && (@Model._ViewsvsServiceRequest.srSubject.IndexOf("OTP") > -1 || @Model._ViewsvsServiceRequest.srSubject.Contains("Print Color") || @Model._ViewsvsServiceRequest.srSubject.Contains("Admin Access")))
                {
                    <span style="padding-left:5px">DM up.</span>
                }
                else if (@Model._ViewsvsServiceRequest.srStep == 0)
                {
                    <span style="padding-left:5px">CS up.</span>
                }

            </span>
            <input type="text" class="form-control" id="searchInputTO" asp-for="_ViewsvsHistoryApproved.htTo" required style="@(Model._ViewsvsServiceRequest.srStep ==1 ? "pointer-events: none;" : "")" />
            @*@if (@ViewBag.step == 2)
                {
                    @Html.DropDownListFor(model => model.htTo, (SelectList)ViewBag.HrApprove, "--select email--", new { @class = "form-control", @style = "font-size:12px", id = "searchInputTO" })
                }
                else
                {
                    <input asp-for="htTo" type="text" class="form-control" id="searchInputTO" />
                }*@


            @*<input asp-for="htTo" type="text" class="form-control" id="searchInputTO" />*@



        </div>
        <div class="input-group ig-property">
            <span class="input-group-text w-25">CC.</span>
            @*<input asp-for="htCC" class="form-control" id="searchInputCC" />*@
            <textarea class="form-control" id="searchInputCC" rows="4" cols="50" asp-for="_ViewsvsHistoryApproved.htCC" required></textarea>
        </div>
        @*<div class="input-group ig-property">
                <span class="input-group-text w-25">CC Dept.</span>
               <input asp-for="htCC" class="form-control" id="searchInputCC" />
                <textarea class="form-control" id="searchInputCCDept" rows="4" cols="50" asp-for="_ViewsvsHistoryApproved.htCCDept"></textarea>
            </div>*@
        <div style="margin:5px">
            <span style=" font-size: 14px;">วันที่ :  @ViewBag.vDate </span>



        </div>

        <div class="d-flex justify-content-center" style="width: 100%; text-align: center; padding-top: 5px; padding-bottom: 5px;">
            <div class="p-1-modify" style="width: 100%; border: 1px grey;   ">
                <div class="form-check form-check-inline">
                    @if (@ViewBag.vWststus == "Done" || @ViewBag.vWststus == "Cancel" || @ViewBag.vWststus == "Transfer")
                    {
                        @Html.RadioButtonFor(m => m._ViewsvsHistoryApproved.htStatus, "Approve", new { @class = "", id = "StatusApp", onclick = "CheckDis('Approve')", required = "required", @style = "height:20px;width:20px;display:none;" }) <label></label><br />
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m._ViewsvsHistoryApproved.htStatus, "Approve", new { @class = "", id = "StatusApp", onclick = "CheckDis('Approve')", required = "required", @style = "height:20px;width:20px;" }) <label>Approve</label><br />
                    }


                </div>
                <div class="form-check form-check-inline">
                    @if (Model._ViewsvsServiceRequest.srStep == 0 || @ViewBag.vWststus == "Done" || @ViewBag.vWststus == "Cancel" || @ViewBag.vWststus == "Transfer")
                    {
                        @Html.RadioButtonFor(m => m._ViewsvsHistoryApproved.htStatus, "Disapprove", new { @class = "", id = "StatusApp", onclick = "CheckDis('Disapprove')", @style = "height:20px;width:20px;;display:none;" }) <label></label><br />
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m._ViewsvsHistoryApproved.htStatus, "Disapprove", new { @class = "", id = "StatusApp", onclick = "CheckDis('Disapprove')", @style = "height:20px;width:20px;" }) <label>Disapprove</label><br />
                    }

                </div>
                @*<div class="form-check form-check-inline">
                        @if (Model._ViewsvsServiceRequest.srStep == 2)
                        {
                            @Html.RadioButtonFor(m => m._ViewsvsHistoryApproved.htStatus, "Cancel", new { @class = "", id = "StatusApp", onclick = "CheckDis('Cancel')", @style = "height:20px;width:20px;" }) <label style="color:red">Cancel</label><br />
                        }
                        else
                        {
                            @Html.RadioButtonFor(m => m._ViewsvsHistoryApproved.htStatus, "Cancel", new { @class = "", id = "StatusApp", onclick = "CheckDis('Cancel')", @style = "height:20px;width:20px;display:none;" }) <label></label><br />
                        }

                    </div>*@
            </div>
        </div>
        <div class="input-group ig-property">
            <span class="input-group-text w-25">Remark</span>
            @*<input asp-for="htCC" class="form-control" id="searchInputCC" />*@
            <textarea class="form-control" id="Remark" rows="2" cols="50" asp-for="_ViewsvsHistoryApproved.htRemark"></textarea>
        </div>


    </div>


    <div class=" panel-group ir fadeInUp animated wowload animated" style="visibility: visible; animation-name: fadeInUp; margin-bottom: 5px; display:none">
        <div class="panel panel-default property">
            <div class=" panel-heading panel-heading-custom property" tabindex="0">
                <br />
                <h4 class="panel-title faq-title-range collapsed" data-bs-toggle="collapse" data-bs-target="#History"
                    aria-expanded="false" aria-controls="collapseExample">
                    <label style="font-size:15px;font-weight:800">
                        History
                    </label>
                    <label class="lbV">
                    </label>
                </h4>
            </div>
            <div class="panel-collapse collapse" id="History" style="overflow-y: scroll; max-height: 200px;">
                <div id="divHistory" class="panel-body">
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer" style="width: 100%;">
        @*<input type="submit" value="Send" class="btn btn-success" />*@
        @*<a href="#" id="btnSubmit" style="width: 100px;" class="btn btn-success btn-block">
            <span>Send</span>
        </a>*@
        @*<a href="#" id="btnSubmit" style="width: 100px;" class="btn btn-success btn-block">
            <span>Send</span>
        </a>*@
        @if (@Model._ViewsvsServiceRequest.srStep < 5)
        {
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="sendmailsubmit('@Url.Action("SendMail_post", "RequestForm", new { vform = @ViewBag.vForm,vSR= @ViewBag.SRno})')">Send mail</button>
            @*<button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="sendmailsubmit('@Url.Action("SendMail_post", "RequestForm")')">Send mail</button>*@
        }


        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

    </div>



</div>



<script type="text/javascript">
        $(function () {
            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }

            $("#searchInputCC")
          // don't navigate away from the field on tab when selecting an item
          .on("keydown", function (event) {
              if (event.keyCode === $.ui.keyCode.TAB &&
                  $(this).autocomplete("instance").menu.active) {
                  event.preventDefault();
              }
          })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    $.getJSON('@Url.Action("Search", "RequestForm")', {
                        term: extractLast(request.term)
                    }, response);
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    const email365 = ui.item.value.split("|")[1];
                    //let email365 = myArray[0];
                    console.log("test" + email365);

                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item

                    //terms.push(ui.item.value);
                    terms.push(email365);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(",");
                    return false;
                }
                });


            $("#searchInputCCDept")
          // don't navigate away from the field on tab when selecting an item
          .on("keydown", function (event) {
              if (event.keyCode === $.ui.keyCode.TAB &&
                  $(this).autocomplete("instance").menu.active) {
                  event.preventDefault();
              }
          })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    $.getJSON('@Url.Action("Search", "RequestForm")', {
                        term: extractLast(request.term)
                    }, response);
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    const email365 = ui.item.value.split("|")[1];
                    //let email365 = myArray[0];
                    console.log("test" + email365);

                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item

                    //terms.push(ui.item.value);
                    terms.push(email365);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(",");
                    return false;
                }
            });

             $("#searchInputTO")
          // don't navigate away from the field on tab when selecting an item
                 .on("keydown", function (event) {
                     console.log("OK");
              if (event.keyCode === $.ui.keyCode.TAB &&
                  $(this).autocomplete("instance").menu.active) {
                  event.preventDefault();
              }
          })
            .autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.getJSON('@Url.Action("Search", "RequestForm")', {
                        term: extractLast(request.term)
                    }, response);
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    const email365 = ui.item.value.split("|")[1];
                    //let email365 = myArray[0];
                    console.log("test" + email365);

                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item

                    //terms.push(ui.item.value);
                    terms.push(email365);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join("");
                    return false;
                }
            });
    })

</script>
<script>
    $("#btnSubmit").click(function () {
        let vform = document.getElementById("txtvFSM").value;
        var vSRNo = document.getElementById("txtvFSN").value;
        console.log("vform" + '@ViewBag.vForm');
        console.log("@ViewBag.SRno" + '@ViewBag.SRno');
        var action = '@Url.Action("SendMail_post", "RequestForm")';
        console.log("action" + action);

        let mydata = $("#formRequest").serialize();
        let formData = document.forms.namedItem("formData");
        let viewModel = new FormData(formData);
        $.each(formData, function (index, input) {
            viewModel.append(input.name, input.value);
        });
        //console.log($('input[name="files"]'));
        console.log($('input[name="files"]').length);
        $.ajax({
            type: "POST",
            url: action,
            data: viewModel,
            processData: false,
            contentType: false,
            beforeSend: function () {
                swal.fire({
                    html: '<h5>Loading...</h5>',
                    showConfirmButton: false,
                    onRender: function () {
                        // there will only ever be one sweet alert open.
                        //$('.swal2-content').prepend(sweet_loader);
                    }
                });
            },
            success: async function (config) {
                // alert(config.c1);
                if (config.c1 == "S" || config.c1 == "D") {
                    $("#loaderDiv").hide();
                    await $("#myModal1").modal("hide");
                    swal.fire({
                        title: 'SUCCESS',
                        icon: 'success',
                        text: "Send Mail Already",
                    }).then((result) => {
                        if (result.isConfirmed) {
                            GoSideMenu("Home");
                        }
                    });
                }
                else if (config.c1 == "E") {
                    //$("#loaderDiv").hide();
                    //await $("#myModal1").modal("hide");
                    Swal.fire({
                        icon: 'error',
                        title: 'ERROR',
                        text: config.c2,
                    })
                        .then((result) => {

                        });

                }

            }
        });
    });
</script>
